<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">

    <th:block th:fragment="content">

    <link rel="stylesheet" type="text/css" th:href="@{/css/review/review.css}">
    <script th:src="@{/js/review/review.js}" type="text/javascript"></script>
       <style>

       </style>
        <!--카테고리-->
        <div class="boardKategorie">
            <div id="free" class="bk" OnClick="location.href ='/free/list'">
                <a href="/free/list">자유</a>
            </div>
            <div id="review" class="bk" OnClick="location.href ='/review/list'">
                <a href="/review/list">리뷰</a>
            </div>
        </div>
        <!-- 테이블 -->
        <table class="table">
            <thead>
            <tr class="table" style="text-align: center; border-bottom-color: #000;">
                <th width="7%">번호</th>
                <th width="10%">장르</th>
                <th scope="col" width="30%" style="text-align:center;">제목</th>
                <th width="15%">닉네임</th>
                <th width="7%">조회수</th>
                <th width="10%">등록일</th>
                <th width="7%">추천수</th>
            </tr>
            </thead>
            <tbody>
                <tr class="cell" th:each="board : ${list}" th:onclick="|location.href ='@{/review/read(rvno = ${board.rvno})}'|">
                    <th style="text-align: center;" >[[${board.rvno}]]</th>
                    <th style="text-align: center;">[[${board.category}]]</th>
                    <th id="textover">
                        <span class="titleLength" width="30%">[[${board.title}]]</span>
                        <span class="comment-Cnt" th:if="${board.replyCnt > 0}" th:text="${({board.replyCnt})}"/>
                    </th>
                    <th style="text-align: center;">[[${board.email.nickname}]]</th>
                    <th style="text-align: center;">[[${board.count}]]</th>
                    <th style="text-align: center;" th:text="${#temporals.format(board.regDate, 'yyyy/MM/dd')}"></th>
                    <th style="text-align: center;">[[${board.recommendCnt}]]</th>
                </tr>
            </tbody>
        </table>

        <!--검색창 -->
        <div class="container">
            <span>
                <form id="searchform" th:action="@{/review/list}" method="get">
                    <div class="form-group mx-sm-3">
                        <label for="searchKeyword" class="sr-only"></label>
                        <input id="search" type="text"  name="searchKeyword" placeholder="검색어를 입력해주세요">
                    </div>
                    <button id="searchBtn" type="submit" class="btn btn-outline-default">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                        </svg>
                        검색
                    </button>
                </form>
            </span>
            <!-- 글쓰기 버튼 -->
            <span>
                <a th:if="${#authorization.expression('isAuthenticated()')}" th:href="@{/review/register}">
                    <button type="button" class="btn writeBtn" style="float:right;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                        </svg>
                        글쓰기
                    </button>
                </a>
            </span>
            <!-- 비로그인 글쓰기 버튼 -->
            <span th:unless="${#authorization.expression('isAuthenticated()')}" style="float: right;">
                <button class="btn unWriteBtn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                    </svg>
                    글쓰기
                </button>
            </span>
            <!-- 페이징 처리 -->
            <nav aria-label="Page navigation example" th:if="${list.totalPages > 0}">
                <ul class="pagination justify-content-center">
                  <li class="page-item" th:classappend="${1 == list.pageable.pageNumber + 1} ? 'disabled'">
                    <a class="page-link" th:href="@{/review/list(page=${list.pageable.pageNumber - 1})}" tabindex="-1" aria-disabled="true" style="color: #bbb;"><</a>
                  </li>
                  <li class="page-item" th:classappend="${i == list.pageable.pageNumber + 1} ? 'disabled'" th:each="i : ${#numbers.sequence(startPage, endPage)}">
                    <a class="page-link" th:href="@{/review/list(page=${i - 1})}" th:text="${i}"></a> 
                  </li>
                  <li class="page-item" th:classappend="${list.totalPages == list.pageable.pageNumber + 1} ? 'disabled'">
                    <a class="page-link" th:href="@{/review/list(page=${list.pageable.pageNumber + 1})}" style="color: #bbb;">></a>
                  </li>
                </ul>
            </nav>
        </div>
        <script>
            $(document).ready(function(){
                $('.unWriteBtn').click(function(){
                alert("로그인 후 글쓰기가 가능합니다.");
                location.href = '/security/login';
                });
            });
        </script>
    </th:block>
</th:block>

</html>