<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">

    <th:block th:fragment="content">

    <link rel="stylesheet" type="text/css" href="/css/novel/novel.css">
    <script type="text/javascript" th:src="@{/js/novel/fantasy.js}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">

        <h1 class="m-3 text-center">소설 정보 작성</h1>

        <form th:action="@{/novel/register}" th:method="post" enctype="multipart/form-data">

            <div class="form-group m-3">
                <label>장르</label>
                <select class="form-select" name="category">
                    <option value="판타지">판타지</option>
                    <option value="무협">무협</option>
                    <option value="현대">현대</option>
                    <option value="로맨스">로맨스</option>
                    <option value="기타">기타</option>
                </select>
            </div>

            <div class="form-group m-3">
                <label>완결여부</label>
                <input type="checkbox" class="form-check-input" name="completed">
            </div>

            <div class="form-group m-3">
                <label>제목</label>
                <input type="text" class="form-control" name="title" placeholder="제목을 입력하세요." required>
            </div>

            <div class="form-group m-3">
                <label>내용</label>
                <textarea class="form-control" rows="5" name="content" placeholder="내용을 입력하세요." required></textarea>
            </div> 

            <div class="form-group m-3">
                <label>표지 업로드</label><br>
                <input type="file" class="form-control-file" id="imageInput" name="imageFile" onchange="previewImage()">
            </div>

            <div class="container" id="uploadImgBox">
                <div class="row justify-content-center">
                    <div class="col-4 text-center p-4 m-2" id="borderBox" style="display: none">
                        <div class="image-container">
                            <img class="img-fluid" id="imagePreview" src="#" alt="Image Preview" style="display: none; max-width: 300px; max-height: 200px;">
                            <button id="deleteButton" class="delete-button" style="display: none" onclick="deleteImage('imagePreview')">
                                <i class="fa-solid fa-square-xmark"></i>
                            </button>   
                        </div>
                    </div>
                </div>
            </div>

            <div class="d-grid gap-2 d-md-flex justify-content-end">
                <button type="submit" class="btn btn-outline-primary">작성완료</button>
            </div>

        </form>

        <script>

            function previewImage() {

                var imageInput = document.getElementById("imageInput");
                var imagePreview = document.getElementById("imagePreview");
                var deleteButton = document.getElementById("deleteButton");
                var borderBox = document.getElementById("borderBox");
                var file = imageInput.files[0];
                var reader = new FileReader();

                reader.onload = function(e) {

                    borderBox.style.display = "block";
                    imagePreview.style.display = "block";
                    imagePreview.src = e.target.result;
                    deleteButton.style.display = "block";
                    imagePreview.style.margin = "auto";

                };

                if (file) {
                    reader.readAsDataURL(file);
                }

            }

            function deleteImage(imageId) {

                var imageElement = document.getElementById(imageId);
                
                if (imageElement) {
                    imageElement.style.display = "none";
                }

                if (imageId === "imagePreview") {

                    var deleteButton = document.getElementById("deleteButton");

                    if (deleteButton) {
                        deleteButton.style.display = "none";
                        borderBox.style.display = "none";
                    }

                    var imageInput = document.getElementById("imageInput");

                    if (imageInput) {
                        imageInput.value = "";
                    }

                    var newFileReader = new FileReader();
                    var newImageInput = document.getElementById("imageInput");

                    newFileReader.onload = function (e) {

                        var imagePreview = document.getElementById("imagePreview");

                        imagePreview.style.display = "block";
                        imagePreview.src = e.target.result;

                    };

                    if (newImageInput.files.length > 0) {
                        newFileReader.readAsDataURL(newImageInput.files[0]);
                    }

                }
                
                event.preventDefault(); // modify 함수 호출을 막기 위해 추가

            }
        </script>

    </th:block>

</th:block>
